body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 50px;
}
.name-hightlight{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left: 4%;
    padding-left: 4%;
    float: left;

}

.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    height: 500px;
    padding-bottom: 150px;
}
/*
two different backgound image fix
.top-banner{
   overflow: hidden; 
}*/

.link-button{
    text-decoration: none;
    padding: 5px 15px;
    color: #fff;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;

}
.link-button:hover{
    background-image: linear-gradient(45deg, tomato,  lightsalmon);
}

/*dream area start*/
.dream-area{
    background-image: url(images/dream-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 150px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
}

.experience-area .title-highlight{
    color: orange;
}
.experience-area .single-experience{
    box-shadow: 10px 10px 40px gainsboro;
    border-radius: 10px;
   height: 70%;
   background: #fff;
   
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-style: italic;
    font-size: 15px;
}


















